/* Tags for Register.jsx */

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    width: 800px;
    background: #CCC038;
    padding: 5px;
    border-radius: 15px;
}
  
.register-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 30px;
    width: 60%;
}
  
.register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-bottom: 10px;
}
  
.register-input {
    height: 50px;
    background: #6A9689;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    padding: 0 15px;
    width: 100%;
}

.register-input::placeholder{
    color: #ffffff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.register-button-container {
    display: flex;
    gap: 30px;
    margin: 10px auto;
    justify-content: center;
}
  
.register-button {
    width: 200px;
    height: 50px;
    background-color: #E53F42;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}  

.register-photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 35%;
    color: #ffffff;
    margin-top: 30px;
}
  
.register-photo-preview {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1); /* más suave */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff33; /* borde semitransparente */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* glow suave */
}
  
.register-photo-preview img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}